# Supabase
SUPABASE_URL=https://vlwevojqfomophsdwsqd.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Discord Bot
DISCORD_BOT_TOKEN=

# Server và channel Discord riêng của admin để nhận thông báo
ADMIN_GUILD_ID=
ADMIN_CHANNEL_ID=
